@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body {
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
    background-color: #EFF7CF;
    color: #1F487E;
}

header {
    background-color: #1F487E;
    color: #EFF7CF;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 120px;
    display: block;
    margin: 0 auto;
}

nav {
    background-color: #1F487E;
    text-align: center;
    padding: 10px;
    
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(241, 241, 242);
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

button {
    background-color: #1F487E;
    color: #EFF7CF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

footer {
    background-color: #1F487E;
    color: #EFF7CF;
    text-align: center;
    padding: 10px;
    body {
    background-color: #1F487E;
    color: #EFF7CF;
    text-align: center;
    padding: 20px;
}

header,
footer,
section,
.card,
.accordion-item {
    background-color: #1F487E !important;
    color: #EFF7CF !important;
}

.navbar {
    background-color: #16355d !important;
}

.card {
    border: 2px solid #EFF7CF;
}

.card .btn {
    background-color: #EFF7CF;
    color: #1F487E;
    border: none;
}

.card .btn:hover {
    background-color: #dfeab7;
}

a {
    color: #EFF7CF;
}

.accordion-button {
    background-color: #1F487E;
    color: #EFF7CF;
}

.accordion-button:not(.collapsed) {
    background-color: #16355d;
    color: #EFF7CF;
}

.accordion-body {
    background-color: #1F487E;
    color: #EFF7CF;
}
}


